.btn-add {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    left: 15px;
}

.dashboard-menu {
    height: 100vh;
    display: flex;
}

.btn-delete {
    margin-right: 20px;
}
